body{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

h1{
  font-size: 50px;
}

h2{
  font-size: 50px;
}

.orange-color{
  color: orange;
}

.container{
  display: flex;
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}

.detail{
  padding-left: 20px;
}

.width{
  width: 50%;
}

.picture img{
  width: 80%;
}

.link-button{
  text-decoration: none;
  color: white;
  padding: 10px 40px;
  font-weight: 800;
  border-radius: 5px;
  background-image: linear-gradient(orange,red);
}

.middle-section{
  display: flex;
  margin-top: 100px;
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}

.dream p{
  padding: 20px 0;
}

.last{
  display: flex;
}

.shadow{
  box-shadow: 10px 10px 40px gray;
  margin: 5%;
  width: 40%;
  padding: 0 5%;
}

.experience{
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}

#blue{
  border-left: 7px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}

#red{
  border-left: 7px solid;
  border-image: linear-gradient(salmon, tomato);
  border-image-slice: 1;
}

footer{
  text-align: center;
}